*.plt
*.dat
*.log
*.pdf
application.py
METIS/
res_path/
GKlib/
__pycache__
cmake-build-debug/
*.trace
*.model
.DS_Store
.vscode
a.out
.idea
build/*
libclingo_solver.so
clingo_solver.o
ddm_tmp.asp
ddm_test
